$color: red;
ul {
    font-size: 14px;
    color: $color;
}
ol {
    font-size: 18px;
    color: $color;
}
table {
    border: 2px solid black;
    border-collapse:  collapse;
}
th, td {
    border: 1px solid black;
    
}
th {
    background-color: burlywood;
}
